.container-fluid{
    height: 50%;
    width: 50%;
}

.paneljugador{
    height: 450px;
    background-color: bisque;
}

.header-player {
    background-color: aquamarine;
}

.header{
    position: static;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    background-attachment: fixed;
    background-color: cornflowerblue;
}

.botones{
    margin-top: 15px;
}

footer {
    box-sizing: content-box;
    height: 50px;
    margin-top: 20px;
    background-color: cornflowerblue;
}